.navbar{
    font-size: 20px;
    word-spacing: 2px;
}
.navbar-brand{
    font-size: 50px;
    font-style: italic;
    
    
    
}

.nav-link:hover{
    background-color: #c8dcff;
    color:black;

}
.btn{
    font-size: 20px;
}
.btn:hover{
    background-color: #c8dcff;

    
}
