body{
  background-color: #0e1c36;
}
.container{
  background-color:#c8dcff;}
.btn-color{
    background-color: #0e1c36;
    color: #fff;
    
  }
  
  .cardbody-color{
    background-color: #ebf2fa;
  }
  
  a{
    text-decoration: none;
  }
.btn:hover{
  color:white;
  opacity: 0.6;
}