body{
  background-color: #c8dcff;
}
.container{
  background-color:#c8dcff;}
.btn-color{
    background-color: #0e1c36;
    color: #fff;
    
  }
  
  .cardbody-color{
    background-color: #ebf2fa;
  }
  
  a{
    text-decoration: none;
  }
.btn:hover{
  color:white;
  opacity: 0.6;
}
.eye_icon{
  float: right;
  margin-top: -32px;
  position: relative;
  z-index: 1;
  cursor:pointer;
}