

   .usercard{

    width: 380px;
    border: none;
    border-radius: 15px;
    padding: 8px;
    background-color: #fff;
    position: relative;
    height: 500px;
    margin-top: 150px;
    margin-bottom: 150px;
    width: 550px;
   }

   .upper{

    height: 100px;

   }

   .upper img{

    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

   }

   .user{
    position: relative;
   }

   .profile img{

    
    height: 80px;
    width: 80px;
    margin-top:2px;

   
   }

   .profile{

    position: absolute;
    top:-50px;
    left: 38%;
    height: 90px;
    width: 90px;
    border:3px solid #fff;

    border-radius: 50%;

   }

   .follow{

    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    height: 35px;
   }

   .stats span{

    font-size: 29px;
   }
   .bi-house{
      height: 10px;
      width: 10px;
   }
   .text-center{
      margin-top: 3rem;
   }
   .Address-label{
      text-align: center;
      margin-top: 20px;
      padding-top: 200px;
   }