.card1{
    width: 60rem;
    margin-left:210px;
    background-color:#e6e6e6;
    padding: 24px;
    margin-top: 4px;
    position: relative;
    margin-left: 20%;

}
.card-body1{
    margin: 22px;
}
.customerName{
    color: green;
}